body {
  padding: 0%;
  margin: 0%;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 38px;
}
.orange {
  color: orange;
}
.fexible-container {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.hire-button {
  text-decoration: none;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}
.half-width {
  width: 50%;
  padding: 0 5%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp-tag{
    text-align: center;
}
.experience-items{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 5px;
    box-shadow: 10px 10px 40px gray;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1; 
}
footer p{
    text-align: center;
    color: gray;
}